
#feature-image {

	@extend .col-md-9;
}

#image-list {

	@extend .col-md-3;
	@extend .list-unstyled;

	img {
		@extend .img-rounded;
		width: 150px;
		height: auto;
	}

	height: 500px;
	overflow-y: scroll;
}

#collection-description {

	@extend .col-md-9;
	
}

@media (max-width: 991px) { 

	#image-list {

		display: table-row;

		li {
			display: table-cell;
		}

		img {
			height: 75px;
			width: auto;
		}
	}

}