
#feature-image {

	@extend .col-md-10;
}

#image-controls {

	@extend .col-md-10;

}

#collection-description {

	@extend .col-md-10;

}

#image-list {

	@extend .col-md-2;
	@extend .list-unstyled;

	img {
		@extend .img-rounded;
		width: 150px;
		height: auto;
	}

	height: 500px;
	//overflow-y: scroll;
}

@media (max-width: 991px) { 

	#image-list {

		display: table-row;
		height: inherit;
		width: 95%;
		overflow-x: scroll;

		li {
			display: table-cell;
		}

		img {
			height: 75px;
			width: auto;
		}

	}

}